<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f7f7f7;
            font-family: Arial, sans-serif;
        }

        .dashboard-container {
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

        .chart-container {
            width: 400px;
            height: 400px;
            margin: 20px auto;
        }
    </style>
</head>
<body>
    <div class="dashboard-container">
        <h1 style="margin-bottom: 20px;"> Dashboard</h1>
        <div class="chart-container">
            <img src="<%= image %>" alt="Chart">
        </div>
    </div>
</body>
</html>
